body{
      margin: 0;
}

/* 隱藏滾軸畫面，還能保有滾動效果 */
::-webkit-scrollbar{
      display:none;
}

#bg_img{
      width: 100vw;
      height: 100vh;
      background-image: url("https://i.pinimg.com/564x/23/f1/3c/23f13cea8cede854514cee31a89a63e6.jpg");
      background-size: cover;
      background-position: 100% 50%;
      background-repeat: repeat-y;
      position: relative;
}

#white{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.6);
}

h5{
      margin: 0;
      color: brown;
      font-weight: 900;
}

p{
      margin: 0;
      font-size: .75em;
      line-height: 1.25em;
}

a{
      text-decoration: none;
      font-size: .5em;
      margin: 0;
}

b{
      font-size: .8em;
      color: purple;
}

.blank{
      margin-right: .5em;
}

/* all_box */
#all_box{
      width: 100vw;
      height: 100vh;
}

#title_box{
      width: 100%;
      height: 5%;
      background-color: wheat;
      display: flex;
}

#html_title, #css_title, #js_title, #order_title{
      width: 25%;
      height: 100%;
      cursor: pointer;
      position: relative;
}

#html_title{
      background-color: aquamarine;
      color: blue;
}

#html_title.hide{
      background-color: wheat;
      color: black;
}

#css_title, #js_title, #order_title{
      background-color: wheat;
      color: black;
}

#css_title.show, #js_title.show, #order_title.show{
      background-color: aquamarine;
      color: blue;
}

#title_word{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      font-weight: 900;
      font-size: .75em;
}

/* content_box */
#content_box{
      width: 100%;
      height: 95%;
      position: relative;
}

#html_content, #css_content, #js_content, #order_content{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
}

#css_content, #js_content, #order_content{
      display: none;
}

#html_content.hide{
      display: none;
}

#css_content.show, #js_content.show, #order_content.show{
      display: block;
}

/* 內部box */
.content_box{
      padding-top: .5em;
      padding-bottom: .5em;
      padding-left: .5em;
      padding-right: .5em;
      width: 95%;
      margin: auto;
      display: flex;
}

.box{
      margin-right: .5em;
      width: 45%;
}

/* 寬度到500px進行改變 */
@media (max-width:500px){
      .content_box{
            display: block;
      }

      .sm_box{
            display: block;
      }

      .box, .blank{
            margin-right: 0;
            width: 100%;
      }
}