*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.09);
}

.clearfix {
    clear: both;
}

h1,
h3,
p,
span {
    margin: 0;
}

.keyword {
    color: lightseagreen;
}

.titleword{
    display: flex;
    justify-content: center;
    color:green;
    font-weight: 700;
}

/* html、css區塊 */
/* 頂部html_tag */
.tagword_box{
    width: 50%;
}

#section {
    display: flex;
}

/* 顏色漸層 */
h3 {
    color: brown;
    font-weight: 700;
}

#z {
    width: 250px;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 20%;
    height: 100%;
    /* 顏色漸層keyword */
    background-image: linear-gradient(to right, rgba(30, 75, 115, 0.3), transparent);
}

.right {
    width: 20%;
    height: 100%;
    /* 最初設下的方向不同，獲取漸層方向就不同 */
    background-image: linear-gradient(to left, rgba(30, 75, 115, 0.3), transparent);
}

/* 改變文字排版方向 */
.change_word {
    writing-mode: vertical-lr;
}

/* animation左右hover */
.animation_bgcolor{
    width: 20%;
    height: 200px;
    border: 1px solid black;
}

.anima_toright{
    width: 20%px;
    height: 200px;
    z-index: 999;
    transition: 1s;
}

.anima_toright:hover{
    transition: 0.5s;
    animation: 0.5s animation_toright;
    transition-timing-function:ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes animation_toright{
    from{
        width: 0;
        height: 100%;
    }to{
        width: 100%;
        height: 100%;
    }
}


/* js、jq區塊 */
/* 第一列 */
/* slide */
.slide{
    width: 100px;
    height: 200px;
    background-color: yellowgreen;

}

.slide_opacity{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.slide_order{
    width: 200px;
    height: 200px;
    background-color: pink;

}

.slide_order_opacity{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
}

/* 較小螢幕(寬度低於800)轉換 */
@media(max-width:550px){
    #section {
        display: flex;
        flex-direction: column;
    }
}

.setintervel_img{
    width: 30%;
    height: 250px;
}