*{
    box-sizing: border-box;
}

body{
    padding: 10vh 0 0 0;
}

p{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.container{
    max-width: 1170px;
}

/* 標題背景及文字((葉子 */
#title{
    width: 250px;
    height: 100px;
    background-image: url('/Linli-Farmer/img/title_img.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#title_word{
    font-size: 35px;
    font-family: 微軟正黑體;
}

#prompt{
    font-size: 25px;
    font-family: 微軟正黑體;
}

/* 互動視窗設定 */
.modal-dialog {
    max-width: 75vw;
    margin: 1.75rem auto;
}

.modal-header{
    background-color: #7EB907;
    color: white;
    font-family: 微軟正黑體;
}

.modal-header #modal_x{
    background-color: red;
    border-radius: 99999px;
}


/* nav */
#nav{
    width:100%;
    height: 10vh;
    min-height: 3em;
    background-color: #7EB907;
    z-index: 999;
}

#nav #img_logo{
    height: 100%;
    background-image: url("/Linli-Farmer/img/logo-png.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#nav #img_logo:hover{
    transform: scale(1.05);
    transition: 1s;
}

#nav .nav_word{
    font-family: 微軟正黑體;
    cursor: pointer;
    transition: 2s;
}

#nav #nav_word_bg{
    background-color: rgba(126, 185,7,0.5);
    font-size: 20px;
}

#nav .nav_word:hover{
    transform: scale(1.05);
    transition: 1s;
}

#nav .phone_navtoogle{
    background-color: rgba(255, 255,255,0.5);
    margin-right: 10px;
    border-radius: 9999999px;
}

#nav :focus {
    outline: none;
}

/* banner */
#banner{
    height: 90vh;
}

#banner_swiper{
    height: 90vh;
    min-height: 25em;
    background-color: rgb(151, 122, 90,0.3);
}

#banner_swiper .swiper-wrapper #img_1{
    width: 100%;
    height: 100%;
    background-image: url('/Linli-Farmer/img/field-work.jpg');
    background-size: cover;
    background-position: 80% 80%;
    background-repeat: no-repeat;
}

#banner_swiper .swiper-wrapper #img_2{
    width: 100%;
    height: 100%;
    background-image: url('/Linli-Farmer/img/field.jpg');
    background-size: cover;
    background-position: 70% 70%;
    background-repeat: no-repeat;
}

#banner_swiper .swiper-wrapper #img_3{
    width: 100%;
    height: 100%;
    background-image: url('/Linli-Farmer/img/street.jpg');
    background-size: cover;
    background-position: 90% 90%;
    background-repeat: no-repeat;
}

#banner_word{
    font-size: 50px;
    font-family: 微軟正黑體;
    z-index: 666;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

#sb_word{
    text-align: center;
    font-size: 20px;
    font-family: 微軟正黑體;
    z-index: 666;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

/* 鄰里小農 */
#about .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/peanut_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

#about #content #top{
    height: 50vh;
    min-height: 10em;
    background-image: url('/Linli-Farmer/img/field.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about #content #bottom{
    color: #42210B;
    font-size: 22px;
    font-family: arial;
    line-height: 35px;
}

/* 小農產品 */
#product .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/watermelon_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#product #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

#product .box p,#product #product_item h5{
    font-family: 微軟正黑體;
    font-size: 22px;
    letter-spacing: 3px;
}

#product .product_box{
    overflow: hidden;
}

#product #product_top, #product #product_bottom{
    height: 50vh;
    min-height: 25em;
    background-color: white;
    margin-bottom: 50px;
}

#product #product_item{
    height: 35vh;
    min-height: 20em;
}

#product #pr_imgword{
    font-size: 2.5em;
    letter-spacing: 10px;
    font-weight: 700;
    font-family: 微軟正黑體;
    text-align: center;
    padding-top: 57%;
    color: transparent;
}

#product #pr_imgword:hover{
    color: whitesmoke;
}

#product #pr_imgbox:hover{
    background-color: rgba(0, 0,0,0.3);
}

#product #peanut{
    background-image: url("/Linli-Farmer/img/peanut.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#product #peanut:hover{
    transform: scale(1.05);
    transition: 1s;
}

#product #small_peanut{
    height: 50vh;
    background-image: url("/Linli-Farmer/img/peanut.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#product #word_section{
   top: 50%;
   transform: translateY(-50%);
}

#product #word_section .black_circle{
    width: 20px;
    height: 20px;
    background-color: #42210B;
    border-radius: 99999999px;
    margin: 20px 0;
    z-index: 5;
 }

 #product #word_section .border{
    width: 90%;
    height: 1px;
    background-color: #42210B;
    top: 50%;
    transform: translateY(-50%);
 }

#product #watermelon{
    background-image: url("/Linli-Farmer/img/watermelon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#product #watermelon:hover{
    transform: scale(1.05);
    transition: 1s;
}

#product #small_watermelon{
    height: 50vh;
    background-image: url("/Linli-Farmer/img/watermelon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#product #product_item #gourd{
    width: 100%;
    height: 25vh;
    min-height: 15em;
    background-image: url("/Linli-Farmer/img/gourd.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #product_item #corn{
    width: 100%;
    height: 25vh;
    min-height: 15em;
    background-image: url("/Linli-Farmer/img/corn.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #product_item #Sweet_potato{
    width: 100%;
    height: 25vh;
    min-height: 15em;
    background-image: url("/Linli-Farmer/img/Sweet_potato.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #product_item #oyster{
    width: 100%;
    height: 25vh;
    min-height: 15em;
    background-image: url("/Linli-Farmer/img/Oyster.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #product_item h5{
    margin-top: .5em;
}

#product .phone_product{
    display: none;
}

#product #phone_top, #phone_bottom{
    height: 25vh;
    min-height: 13em;
    background-color: white;
    margin-bottom: 25px;
}

#product #phone_peanut{
    background-image: url("/Linli-Farmer/img/peanut.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #phone_watermelon{
    background-image: url("/Linli-Farmer/img/watermelon.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #phone_p, #product #phone_product h4{
    font-family: 微軟正黑體;
}

#product #phone_p{
    font-size: 16px;
}

#product #phone_small{
    display: block;
    margin-top: 10px;
}

#product #item_word{
    margin-top: 10px;
}

#product #phone_item #phone_gourd{
    height: 20vh;
    min-height: 10em;
    background-image: url("/Linli-Farmer/img/gourd.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #phone_item #phone_corn{
    height: 20vh;
    min-height: 10em;
    background-image: url("/Linli-Farmer/img/corn.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #phone_item #phone_Sweet_potato{
    height: 20vh;
    min-height: 10em;
    background-image: url("/Linli-Farmer/img/Sweet_potato.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #phone_oyster{
    height: 20vh;
    min-height: 10em;
    background-image: url("/Linli-Farmer/img/Oyster.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#product #phone_item #item_bottom{
    margin-top: 25px;
}

#product :focus {
    outline: none;
}


/* 鄰里趣遊 */
#fun .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/peanut_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#fun #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

#fun #hover_word{
    transition: 2s;
}

#fun #hover_word:hover{
    transform: scale(1.05);
    transition: 1s;
}

#fun .circle{
    width: 50px;
    height: 50px;
    border: 2px dashed #762031;
    border-radius: 999999px;
}

#fun .row p{
    font-family: 微軟正黑體;
    font-size: 22px;
    margin-bottom: 50px;
    cursor: pointer;
}

#fun .top{
    margin-top: 10px;
}

#fun .row #food{
    width: 50vw;
    height: 75vh;
    background-image: url("/Linli-Farmer/img/food.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fun .row #view_a{
    width: 50vw;
    height: 75vh;
    background-image: url("/Linli-Farmer/img/view_a.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fun .row #view_b{
    width: 50vw;
    height: 75vh;
    background-image: url("/Linli-Farmer/img/view_b.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fun .row #history_a{
    width: 50vw;
    height: 75vh;
    background-image: url("/Linli-Farmer/img/history_a.jpg");
    background-size: auto;
    background-position: 5% 65%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fun .row #history_b{
    width: 50vw;
    height: 75vh;
    background-image: url("/Linli-Farmer/img/history_b.jpg");
    background-size: auto;
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fun .row #history_c{
    width: 50vw;
    height: 75vh;
    background-image: url("/Linli-Farmer/img/history_c.jpg");
    background-size: 100% 100%;
    background-position: 100% 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fun .row #rest{
    width: 50vw;
    height: 75vh;
    background-image: url("/Linli-Farmer/img/rest.jpg");
    background-size: 100% 100%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fun #phone_fun{
    display: none;
}

#fun #phone_circle{
    margin-bottom: 10px;
}

#fun .row p {
    margin-bottom: 0px;
}

#fun #fun_p{
    font-family: 微軟正黑體;
    margin: 10px 0;
}

#fun .hr{
    height: 1px;
    background-color: #762031;
    margin: 10px 0;
}

#fun #phone_item_tile{
    font-size: 20px;
}

#fun #phone_item_content{
    font-size: 16px;
}

#fun :focus {
    outline: none;
}

/* 小農資訊 */
#news .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/watermelon_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#news #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

#news #content #top{
    height: 50vh;
    min-height: 25em;
    background-image: url('/Linli-Farmer/img/street.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#news #content #bottom{
    color: #42210B;
    font-size: 20px;
    font-family: arial;
}

#news .news-body{
    height: 75vh;
    background-image: url('/Linli-Farmer/img/map.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#news .word_box #word_top{
    width: 250px;
    height: 40px;
    position: relative;
}

#news .word_box #word_top #word{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    font-family: 微軟正黑體;
}

#news .word_box #word_top .bg_color{
    width: 200px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #C7B199;
}

#news .word_box li{
    color: #762031;
    font-size: 22px;
}

#news .word_box #specialty{
    height: 20vh;
    background-image: url('/Linli-Farmer/img/Houlong-specialty.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#news .word_box #specialty:hover{
    transform: scale(1.05);
    transition: 1s;
}

#news .word_box .specialty-body{
    height: 25vh;
    background-image: url('/Linli-Farmer/img/Houlong-specialty.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#news .word_box #traffic{
    height: 10vh;
    background-image: url('/Linli-Farmer/img/Houlong-traffic.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#news .word_box #traffic:hover{
    transform: scale(1.05);
    transition: 1s;
}

#news .word_box .traffic-body{
    height: 15vh;
    background-image: url('/Linli-Farmer/img/Houlong-traffic.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* footer */
#footer{
    background-color: #7EB907;
}

#footer p{
    font-family: 微軟正黑體;
    font-size: 22px;
    letter-spacing: 3px;
}

#footer .row{
    padding: 25px 0;
}

#footer .row #logo{
    height: 50%;
    background-image: url('/Linli-Farmer/img/logo-png.png');
    background-size: contain;
    background-position: 0 center;
    background-repeat: no-repeat;
    transition: 2s;
}

#footer .row #logo:hover{
    transform: scale(1.05);
    transition: 1s;
}

#footer .row {
    height: 20vh;
}

#footer .row #number{
    font-size: 25px;
    letter-spacing: 0;
}

#footer .row .top .right, #footer .row .bottom .right{
    width: 50%;
}

#footer .row #fb{
    width: 70%;
    height: 70%;
    background-image: url('/Linli-Farmer/img/fb.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#footer .row #fb:hover{
    transform: scale(1.05);
    transition: 1s;
}

#footer .row .top .right #kang_line{
    width: 70%;
    height: 70%;
    background-image: url('/Linli-Farmer/img/kang-line.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#footer .row .top .right #kang_line:hover{
    transform: scale(1.05);
    transition: 1s;
}

#footer .row .bottom .right #wen_line{
    width: 70%;
    height: 70%;
    background-image: url('/Linli-Farmer/img/wen-line.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 2s;
}

#footer .row .bottom .right #wen_line:hover{
    transform: scale(1.05);
    transition: 1s;
}

#footer .row #map{
    transition: 2s;
}

#footer .row #map{
    transform: scale(1.05);
    transition: 1s;
}

#footer .row #map:hover{
    transform: scale(1.05);
    transition: 1s;
}

#footer .row .kang-body{
    height: 75vh;
    background-image: url('/Linli-Farmer/img/kang-line.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer .row .wen-body{
    height: 75vh;
    background-image: url('/Linli-Farmer/img/wen-line.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer .row .map-body{
    height: 75vh;
    background-image: url('/Linli-Farmer/img/map.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#footer :focus {
    outline: none;
}

.phone_footer{
    display: none;
}



/* 當手機螢幕寬度等於1300px進行變化 */
@media (max-width:1300px){
    /* banner */
    #banner_word{
        font-size: 33px;
    }

    /* product */
    #product #product_item h5{
        font-size: 1em;
    }
}

/* 當手機螢幕寬度等於900px進行變化 */
@media (max-width:900px){
    /* banner */
    #banner_word{
        font-size: 27px;
    }

    /* product */
    #product #product_item h5{
        font-size: .75em;
    }

    /* 小農資訊 */
    #news .word_box #specialty, #news .word_box #traffic{
        display: none;
    }

    /* footer */
    #footer .row #logo{
        display: none;
    }

    #footer .row .top .left, #footer .row .bottom .left{
        width: 100%;
    }

    #footer .row .top .right{
        display: none;
    }

    #footer .row #fb, #footer .row .top .right #kang_line, #footer .row .bottom .right #wen_line{
        display: none;
    }
}

/* 當手機螢幕寬度等於750px進行變化 */
@media (max-width:750px){
    #title{
        width: 175px;
        height: 75px;
    }
    
    #title_word{
        font-size: 25px;
    }

    #about #content #bottom, #news #content #bottom,#news .word_box li{
        font-size: 16px;
    }

    #prompt{
        font-size: 20px;
    }
   
    /* banner */
    #banner_swiper{
        height: 50vh;
        min-height: 20em;
    }

    #banner_word{
        font-size: 23px;
    }

    /* 小農資訊 */
    #about #content #top{
        height: 30vh;
    }

    /* 小農產品 */
    #product .box{
        display: none;
    }

    #product .phone_product{
        display: block;
    }

    /* 鄰里趣遊 */
    #fun .box{
        display: none;
    }

    #fun #prompt{
        display: none;
    }

    #fun #phone_fun{
        display: block;
    }

    /* 小農資訊 */
    #news #content #top{
        height: 30vh;
    }

    /* footer */
    #footer .content{
        display: none;
    }

    #footer .phone_footer{
        display: block;
    }

    #footer .number{
        font-size: 20px;
    }

    #footer .copyright{
        font-size: 14px;
    }
}

/* 當手機螢幕寬度等於600px進行變化 */
@media (max-width:600px){
    /* banner */
    #banner{
        min-height: 15em;
    }

    #banner_word{
        display: none;
    }

    #sb_word{
        display: block;
    }

    #banner_word{
        font-size: 20px;
    }

    #banner_swiper .swiper-wrapper #img_1{
        width: 100%;
        height: 100%;
        background-image: url('/Linli-Farmer/img/field-work.jpg');
        background-size: cover;
        background-position: 40% 10%;
        background-repeat: no-repeat;
    }

    /* footer */
    #news .phone_map{
        font-size: 16px;
    }

    #news #content #top{
        min-height: 15em;
    }
}

/* 超小螢幕防爆-螢幕寬度小於320px */
@media(max-width:320px){
    #product #phone_p{
        display: none;
    }
}