*{
    box-sizing: border-box;
}

p{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.container{
    max-width: 1170px;
}

#title_word{
    font-size: 35px;
    font-weight: 700;
    font-family: 微軟正黑體;
}

/* nav */
#nav{
    background-color: #7EB907;
    z-index: 66666;
    position: fixed;
    top: 0;
}

#phone_nav{
    background-color: #7EB907;
    z-index: 66666;
    position: fixed;
    top: 0;
}

#nav #img_a{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/logo-png.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nav #word{
    font-size: 22px;
    font-family: 微軟正黑體;
}

#nav #word a{
    color: white;
}

#nav #word a:hover{
    text-decoration: none;
}

#phone_nav{
    display: none;
}

/* banner */
#banner{
    height: 90vh;
    margin-top: 10vh;
}

/* 鄰里小農 */
#about{
    height: 90vh;
}

#about .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/peanu_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

#about #content #title{
    width: 200px;
    height: 90px;
    background-image: url('/Linli-Farmer/img/title_img.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#about #content .box{
    height:calc(100% - 100px);
}

#about #content #top{
    width: 100%;
    height: 100%;
    background-image: url('/Linli-Farmer/img/field.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about #content #bottom{
    color: #42210B;
    font-size: 20px;
    font-family: DFKai-sb;
}

/* 小農產品 */
#product{
    height: 90vh;
}

#product .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/watermelon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#product #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

/* 鄰里趣遊 */
#fun{
    height: 40vh;
}

#fun .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/peanu_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#fun #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

/* 小農資訊 */
#news{
    height: 90vh;
}

#news .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/watermelon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#news #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

/* footer */
#footer{
    height: 50vh;
    background-color: #7EB907;
}

#footer p{
    font-family: 微軟正黑體;
    font-size: 22px;
    letter-spacing: 3px;
}

#footer .row{
    padding: 25px 0;
}

#footer .row #logo{
    width:100%;
    height: 25%;
    background-image: url('/Linli-Farmer/img/logo-png.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer .row #number{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
}

#footer .row #fb{
    width: 90%;
    height: 90%;
    background-image: url('/Linli-Farmer/img/fb.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer .row .top .right #kang_line{
    width: 90%;
    height: 90%;
    background-image: url('/Linli-Farmer/img/kang-line.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer .row .bottom .right #wen_line{
    width: 90%;
    height: 90%;
    background-image: url('/Linli-Farmer/img/wen-line.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer .row #map{
    background-image: url('/Linli-Farmer/img/map.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/* 手機板當螢幕寬度小於500發生變化 */
@media (max-width:500px){
    #title_word{
        font-size: 25px;
    }
    /* nav */
    #nav{
        display: none;
    }

    #phone_nav{
        display: block;
    }

    #phone_nav #logo{
        height: 100%;
        background-image: url("/Linli-Farmer/img/logo-png.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #phone_nav a{
        color: white;
    }

    #phone_nav a{
        text-decoration: none;
    }
    /* banner */
    #banner{
        height: 85vh;
        margin-top: 15vh;
    }

    /* 鄰里小農 */
    #about{
        height: 85vh;
    }

    #about #content #title{
        width: 100px;
        height: 45px;
    }

    #about #content .box{
        height:calc(100% - 50px);
    }

    #about #content #bottom{
        font-size: 16px;
    }

    /* footer */
    #footer .row #logo{
        height: 20%;
    }

    #footer .row #center{
        height: 70%;
        margin-bottom: 10px;
    }

    #footer .row #map{
        display: none;
    }

    #footer #kang_line, #footer #wen_line{
        display: none;
    }
}