*{
    box-sizing: border-box;
}

p{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.container{
    max-width: 1170px;
}

#title_word{
    font-size: 35px;
    padding-top: 20px;
    font-weight: 700;
    font-family: 微軟正黑體;
}

/* nav */
#nav{
    background-color: #7EB907;
    z-index: 66666;
    position: fixed;
    top: 0;
}

#nav #img_a{
    width: 100%;
    height: 100%;
    background-image: url("/linli-farmer/img/logo-png.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nav #word{
    font-size: 22px;
    font-family: 微軟正黑體;
}

#nav #word a{
    color: white;
}

#nav #word a:hover{
    text-decoration: none;
}

/* banner */
#banner{
    margin-top: 15vh;
}

/* 鄰里小農 */
#about .bg_img{
    width: 100%;
    height: 100%;
    background-image: url("/Linli-Farmer/img/peanu_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about #bg_white{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255,0.5);
}

#about #content #title{
    width: 200px;
    height: 90px;
    background-image: url('/Linli-Farmer/img/title_img.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#about #content #top{
    width: 100%;
    height: 100%;
    background-image: url('/Linli-Farmer/img/field.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about #content #bottom{
    color: #42210B;
    font-size: 20px;
    font-family: DFKai-sb;
}

#about #content #bottom b{
    font-size: 25px;
}